In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('us_accidents').getOrCreate()

In [4]:
df1 = spark.read.csv("hdfs://localhost:9000/capstone_project2/us_data4.csv", header=True, inferSchema=True)

In [7]:
#df1.show()

In [12]:
df1.createOrReplaceTempView("mytable")

In [15]:
#result = spark.sql("select *from mytable limit 5")
#result.createOrReplaceTempView("result_df")
#result.write.csv('hdfs://localhost:9000/output/result.csv', mode='overwrite', header=True)

In [31]:
top_five_city = spark.sql("select city, count(*) as total_accidents from mytable group by city order by total_accidents desc limit 5")
top_five_city.write.csv('hdfs://localhost:9000/output/top_five_city.csv', mode='overwrite', header=True)

In [43]:
top_five_city.show()

+-----------+---------------+
|       city|total_accidents|
+-----------+---------------+
|      Miami|           2352|
|    Houston|           2304|
|Los Angeles|           1999|
|  Charlotte|           1801|
|     Dallas|           1759|
+-----------+---------------+

In [32]:
top_three_state = spark.sql("select state, count(*) as total_state_accidents from mytable group by state order by total_state_accidents desc limit 3")
top_three_state.write.csv('hdfs://localhost:9000/output/top_three_state', mode='overwrite', header=True)

In [45]:
top_three_state.show()

+-----+---------------------+
|state|total_state_accidents|
+-----+---------------------+
|   CA|                22347|
|   FL|                11051|
|   TX|                 7668|
+-----+---------------------+

In [39]:
year_wise_accidents = spark.sql("select YEAR(start_time) as accidents_year,count(*) as total_accidents from mytable group by YEAR(start_time) order by accidents_year ")
year_wise_accidents.write.csv('hdfs://localhost:9000/output/year_wise_accidents', mode='overwrite', header=True)

In [47]:
year_wise_accidents.show()

+--------------+---------------+
|accidents_year|total_accidents|
+--------------+---------------+
|          2016|           5370|
|          2017|           9297|
|          2018|          11493|
|          2019|          12257|
|          2020|          15267|
|          2021|          20418|
|          2022|          22815|
|          2023|           3083|
+--------------+---------------+

In [34]:
weather_impact=spark.sql("select weather_condition, count(*) as total_weather_accidents from mytable group by weather_condition order by total_weather_accidents desc limit 10")
weather_impact.write.csv('hdfs://localhost:9000/output/weather_impact', mode='overwrite', header=True)

In [48]:
weather_impact

DataFrame[weather_condition: string, total_weather_accidents: bigint]

In [37]:
hotspot_place_accidents=spark.sql("select county,state,city, count(*) as total_country_accidents from mytable group by county,state,city order by total_country_accidents desc limit 20")
hotspot_place_accidents.write.csv('hdfs://localhost:9000/output/hotspot_place_accidents', mode='overwrite', header=True)

In [49]:
hotspot_place_accidents

DataFrame[county: string, state: string, city: string, total_country_accidents: bigint]